<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <form action="/register" method="post" enctype="multipart/form-data">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        First Name: <input type="text" name="first_name"><br>
        Last Name: <input type="text" name="last_name"><br>
        Email: <input type="email" name="email"><br>
        File: <input type="file" name="file"><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>
